<!-- your html code here -->
<section class="container-fluid py-0 my-0 ">
    <div class="row bg-light py-2 my-0">
        <div class="col-md-8 mt-5 ms-3 me-2">
            <h2>This First Heading Will Catch Your Eye</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ad aliquid repudiandae est adipisci accusantium vitae quos reprehenderit, nulla similique libero architecto eaque a voluptates nesciunt officia voluptas.</p>
        </div>
        <div class="col-md-3">
            <img src="/website\assets\img\1.jpg"  alt="Image Description" class="imagen1 img-fluid pe-2 ms-3">
        </div>
    </div>
</section>