<!-- your html code here -->

<section class="container-fluid py-0 my-0">
    <div class="row bg-light">
        <div class="col-md-3">
            <img src="/website\assets\img\2.jpg" id="img" alt="Image Description" class="img-fluid ps-2">
        </div>
        <div class="col-md-9 py-5">
            <h2>This First Heading Will Catch Your Eye</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ad aliquid repudiandae est adipisci accusantium vitae quos reprehenderit, nulla similique libero architecto eaque a voluptates nesciunt officia voluptas.</p>
        </div>
       
    </div>
</section>